*{
    margin: 0;
    padding: 0;
    background-color: #e5ebf8;
}
.open-sans-ralewayfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common style  */
.btn{
    background-color: #4E47FF;
    border-style: none;
    border-radius:10px;
    color: #FFFF;
    padding: 12px 36px;
    font-size:16px ;
    font-weight: bold;
}
.btn:hover{
    background-color: #918fbe;
    cursor:pointer;
}
/* header style  */
header{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    max-width: 1440px; 
}
/* nav style  */
.navbar{
    margin-left: 150px;
    margin-right: 150px;
    width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
}

.navbar h3{
    color: #4E47FF;
    font-size: 34px;
}
/* end navbar style  */

/* web flow style  */

.web-flow{
    background: transparent;
    width: 905px;
    height: 237px;
    margin: 158px auto 152px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.web-flow h3{
    background: transparent;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 37px; */
}
/* end of web-flow style  */
/* end of header  */

/* action-section style  */
.action-section{

    width: 1140px;
    height: 328px;
    margin: 116px 160px 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}
.action-content{
    height: 203px;
    width:517 px;

}
.action-content h4{
    font-size: 42px;
    font-weight: bold;
    color:#252432 ;
    margin-bottom: 23px;
}

.action-content p{
    font-size: 24px;
    color:rgb(37,36,50,0.5) ;
    margin-bottom: 23px;
}

.action-image img{
    border-radius: 35px;
}

/* end action section  */

/* product style  */

.product-section{
    
    width: 1140px;
    height: 306px;
    background-color:rgb(78,71,255,0.1);
    margin: 116px 160px 0px 140px;
    border-radius: 10px;
    display: flex;
}
.product-content
{
    height: 206px;
    width: 856px;
    margin: auto auto;
    background: transparent;
}
.product-content-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    background: transparent;
}

.product-content-info{
    display: flex;
    justify-content: space-around;background: transparent;
    /* background: transparent; */
}
.prod-info-statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.prod-info-statistics h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    background: transparent;
}
.prod-info-statistics p{
    color:rgb(0,0,0,0.5);
    background: transparent;
}

/* end of product style */

/* User say section style  */
.user-say-section{
    width: 1140px;
    margin: 137px 160px 0px 140px;
}

.user-say-content-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.user-say-content-card{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.card{
    background-color: #FFFF;
    border-radius: 10px;
    width: 366.67px;
}

.card-img{
    background-color: #FFFF;
    margin: 24px 0 24px 24px;
    /* background: transparent; */
}
.card-img img{
    background-color: #FFFF;
 }
.card-content h5{
    background-color: #FFFF;
    font-size: 17px;
    margin-bottom: 8px;
}
.card-content{
    background-color: #FFFF;
    margin-left:24px ;
    margin-right: 24px;
    height: 81px;
    width: 218.67px;
    font-size: 12px;
    color: rgb(30,30,30);
}

.card-reviewer{
    background-color: #FFFF;
    display: flex;
    margin: 0 24px 24px 24px;
}

.card-reviewer img{
    background-color: #FFFF;
    border-radius: 30px;
    margin-right: 6px;
}
.reviewer-info{
    background-color: #FFFF;
}
.reviewer-info h5{
    background-color: #FFFF;
    font-size: 12px;
    color: #757575;
}
.reviewer-info p{
    background-color: #FFFF;
    font-size: 12px;
    color: #B3B3B3;
}
 /* end of user review section  */
 /* get in touch section  */
.get-in-touch-section{
    height: 632px;
    width: 1140px;
    margin: 92px 160px 0px 140px;
}
.get-in-touch-section{
    display: flex;
    justify-content: center;
    gap: 115px;
}
.get-in-touch-title{
    height: 232px;
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    margin: 200px 0px ;
}

.get-in-touch-form{
    height: 490px;
    width: 497px;
    margin: 71px 0px;
    display: flex;
    flex-direction: column;
}

.get-in-touch-form form{
    display: flex;
    flex-direction: column;
}
.get-in-touch-form form input{
    background-color: #FFFF;
    border: 1px solid #D6DDED;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 20px;
    /* margin-top: 5px; */
}

.get-in-touch-form form textarea{
    background-color: #FFFF;
    border: 1px solid #D6DDED;
    border-radius: 5px;
    height: 140px;
    font-size: 20px;
    padding:20px 30px ;
    margin-bottom: 20px;
    /* margin-top: 5px; */
}

.input-name{
    font-weight:600;
    font-family: "inter";
    font-size: 18px;
    padding: 10px 0px;
}