*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}
.open-sans-ralewayfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common style  */
.btn{
    background-color: #4E47FF;
    border-style: none;
    border-radius:10px;
    color: #FFFF;
    padding: 12px 36px;
    font-size:16px ;
    font-weight: bold;
}
.btn:hover{
    background-color: #918fbe;
    cursor:pointer;
}
/* header style  */
header{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    max-width: 1440px; 
}
/* nav style  */
.navbar{
    margin-left: 150px;
    margin-right: 150px;
    width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
}

.navbar h3{
    color: #4E47FF;
    font-size: 34px;
}
/* end navbar style  */

/* web flow style  */

.web-flow{
    background: transparent;
    width: 905px;
    height: 237px;
    margin: 158px auto 152px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.web-flow h3{
    background: transparent;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 37px; */
}
/* end of web-flow style  */
/* end of header  */

/* action-section style  */
.action-section{

    width: 1140px;
    height: 328px;
    margin: 116px 160px 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}
.action-content{
    height: 203px;
    width:517 px;

}
.action-content h4{
    font-size: 42px;
    font-weight: bold;
    color:#252432 ;
    margin-bottom: 23px;
}

.action-content p{
    font-size: 24px;
    color:rgb(37,36,50,0.5) ;
    margin-bottom: 23px;
}

.action-image img{
    border-radius: 35px;
}

/* end action section  */

/* product style  */

.product-section{
    
    width: 1140px;
    height: 306px;
    background-color:rgb(78,71,255,0.1);
    margin: 116px 160px 0px 140px;
    border-radius: 10px;
    display: flex;
    
}
.product-content
{
    height: 206px;
    width: 856px;
    margin: auto auto;
    background: transparent;
}
.product-content-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    background: transparent;
}

.product-content-info{
    display: flex;
    justify-content: space-around;background: transparent;
    /* background: transparent; */
}
.prod-info-statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.prod-info-statistics h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    background: transparent;
}
.prod-info-statistics p{
    color:rgb(0,0,0,0.5);
    background: transparent;
}

/* end of product style */

